*,*::before,*::after
{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.bottom
{
    /* border:2px solid red; */
    text-align: center;
    padding: .9rem 0;
    background-color: #2d0b26;
}
#button-roll
{
    width: 200px;
    padding:1rem;
    border: 2px solid #d9cbdf;
    background-color: #372c45;
    color: #d9cbdf;
    /* border-radius: 25px; */
    
}
.button-roll:hover
{
    
    border: 2px solid#372c45;
    background-color:  #d9cbdf  ;
    color: #372c45;
    
    
}

.pixelify-sans
 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 1rem;
    
   
  }
.flex
{
    display: flex;
    align-items: center;
    justify-content:center;
}
.title-image
{
    width:15%;
    position: absolute;
    right: 53%;
}
.center-position
{
position:relative;
/* border: 2px solid green; */
}
.head,.head-win,.head-lose
{
    position:absolute;
    right:30%;
    top:8%;
    width: 40%;
    /* border:2px solid yellow; */
    animation: hoverAnimation 2s ease-in-out infinite; /* Apply animation */
}

img
{
    width: 100%;
}
.status-tab
{
    position:absolute;
    right:30%;
    top:80%;
    width: 40%;
}
.BG-two
{
    width: 40%;
    /* border: 2px solid red; */
    margin: 0 auto;
    background-image: url('image/BGChessTwo.png');
    height: 100vh;
    
}
.BG-one
{
    /* background-image: url('image/BGChess.png'); */
    background-color: #372c45;
    height: 100vh;
}

.dialogue
{
    /* background-image: url('image/dialogue.png');
   
    background-size:"cover"; */
    /* border: 2px solid red; */
   justify-content: space-around;
   background-color: #136537;
    padding: .9rem 0;
}
.dice-one,.dice-two
{
    background-image: url('image/diceBG.png');
    background-image: cover;
    min-width: 200px;
    min-height: 200px;
    /* border:2px solid green; */
    
}

.grid-container 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding:2%;
    
}

.grid-item {
    background-image: url('image/diceDots.png');
    width: 30px;
    height: 30px;
    text-align: center;
    background-image: cover;
}
.grid-item-hidden
{
    background-image:url('image/blank.png');
}

@keyframes hoverAnimation {
    0% {
        transform: translateY(0); /* Start position */
    }
    50% {
        transform: translateY(5px); /* Mid position */
    }
    100% {
        transform: translateY(0); /* End position */
    }
}
.hidden
{
    display: none;
}

/* fix the dice display orientation */
/* face emotion if it is defeated */
/* dice rotation optional*/