*,*::before,*::after
{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.button-roll
{
    width: 200px;
    padding:1rem;
    border: 0px solid transparent;
    background-color: rgb(82, 53, 80);
    color:rgb(156, 196, 241);
    
}
.pixelify-sans
 {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2rem;
    border-radius: 25px;
   
  }
.flex
{
    display: flex;
    align-items: center;
    justify-content:center;
}
.title-image
{
    width:15%;
    position: absolute;
    right: 53%;
}
.center-position
{
position:relative;
/* border: 2px solid green; */
}
.head,.head-win,.head-lose
{
    position:absolute;
    right:30%;
    top:8%;
    width: 40%;
    /* border:2px solid yellow; */
    animation: hoverAnimation 2s ease-in-out infinite; /* Apply animation */
}
.head-win,.head-lose
{
    display:none;
}
img
{
    width: 100%;
}
.status-tab
{
    position:absolute;
    right:30%;
    top:80%;
    width: 40%;
}
.BG-two
{
    width: 40%;
    /* border: 2px solid red; */
    margin: 0 auto;
    background-image: url('image/BGChessTwo.png');
    height: 100vh;
    
}
.BG-one
{
    background-image: url('image/BGChess.png');
    height: 100vh;
}

.dialogue
{
    /* background-image: url('image/dialogue.png');
   
    background-size:"cover"; */
    border: 2px solid red;
   justify-content: space-around;
}
.dice-one,.dice-two
{
    background-image: url('image/diceBG.png');
    background-image: cover;
    min-width: 200px;
    min-height: 200px;
    border:2px solid green;
    
}

.grid-container 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding:2%;
    
}

.grid-item {
    background-image: url('image/diceDots.png');
    width: 30px;
    height: 30px;
    text-align: center;
    background-image: cover;
}
.grid-item-hidden
{
    background-image:url('image/blank.png');
}

@keyframes hoverAnimation {
    0% {
        transform: translateY(0); /* Start position */
    }
    50% {
        transform: translateY(5px); /* Mid position */
    }
    100% {
        transform: translateY(0); /* End position */
    }
}


